* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

/* banner header */

.header {
  background-image: url(../images/banner/banner1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 808px;
}
.banner {
  text-align: right;
  margin-right: 160px;
}
.banner-title {
  font-weight: bolder;
  font-size: 65px;
  line-height: 76px;
  padding-top: 230px;
}
.banner-description {
  font-weight: 10;
  font-size: 16px;
  line-height: 26px;
  margin-top: 24px;
  color: #5e5a5a;
}
.btn-primary {
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  margin-top: 32px;
  background: #fd6e0a;
  border-radius: 5px;
  border: none;
  padding: 21px 25px;
}

/* failures section */
.failures-data {
  display: flex;
}
.failures-image img {
  margin: 130px 87px 130px 190px;
  width: 569px;
  height: 723.3px;
  /* border-radius: 50%;
background: rgba(241, 91, 34, 0.2); */
}
.failures-list {
  margin: 370px 200px 215px 0px;
}
.failures-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
}
.failures-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #5e5a5a;
  margin-top: 24px;
}
.failures-list ul {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #5e5a5a;
  margin-top: 18px;
  list-style-type: none;
  margin-left: -40px;
}
.failures-list ul li {
  margin-top: 8px;
}
.failures-list ul li i {
  color: rgb(15, 179, 15);
  size: 70px;
}

/*  About me*/
.about-container {
  display: flex;
  gap: 24px;
}
.about-image {
  margin: 130px 87px 130px 190px;
  width: 569px;
  height: 623.3px;
}
.about-content {
  margin: 125px 200px 215px 0px;
}
.about-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
}
.about-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #5e5a5a;
  margin-top: 24px;
}
.about-content ul {
  margin-top: 25px;
}
.about-content ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #5e5a5a;
  margin-top: 10px;
}

/* plan section */

.plan-container {
  text-align: center;
  width: 1440px;
}
.plan-header {
  font-weight: bolder;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  margin-left: 180px;
}
.box-container {
  width: 1440px;
  text-align: center;
}
.plan-text {
  display: flex;
  margin-left: 210px;
  gap: 40px;
  margin-top: 60px;
}
.plan-box {
  width: 290px;
  height: 197px;
}

.plan-box .plan-icon img {
  width: 92.96px;
  height: 92.96px;
}
.plan-box .plan-title {
  margin-top: 24px;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
}
.plan-box .plan-description {
  margin-top: 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: #737272;
}

/* image gradient */
.image-gradient {
  width: 1140px;
  height: 300px;
  background: linear-gradient(90deg, #f15b22 0%, rgba(241, 91, 34, 0) 100%),
    url(../images/watch.png);
  background-repeat: no-repeat;
  border-radius: 8px;
  margin: 130px 230px;
}
.image-gradient .image-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  padding-left: 64px;
  padding-top: 59px;
  color: #ffffff;
}
.image-gradient .image-btn {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  padding: 20px 36px;
  color: #f15b22;
  margin-top: 16px;
  margin-left: 64px;
  border: none;
  border-radius: 5px;
}
/* footer */
.footer {
  padding-right: 120px;
  width: 1400px;
  height: 577px;
  background: #151414;
  padding-bottom: 20px;
}
.footer-container {
  display: flex;
  gap: 330px;
}
.footer-text {
  margin-left: 250px;
  margin-top: 100px;
}
.footer-text .footer-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #f8f8f8;
}
.footer-text .footer-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-top: 24px;
  margin-bottom: 26px;
  color: #ffffff;
}
.footer-text .footer-email {
  margin-bottom: 16px;
}
.footer-text .footer-phone {
  margin-bottom: 32px;
}
.footer-text .footer-email {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}
.footer-text .footer-phone {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}
.footer-text .footer-icon {
  display: flex;
  width: 47px;
  height: 46px;
  gap: 17px;
  margin-bottom: 130px;
}
.footer-input {
  margin-top: 130px;
}
.footer .footer-input .input-text {
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 31px;
  color: #ffffff;
}
.input-container {
  display: flex;
}
.footer .footer-input input {
  width: 325px;
  height: 60px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  background: #151414;
  border-color: #f8f8f8;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding-left: 20px;
}
.footer .footer-input button {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;

  padding: 20px 36px;
  color: #f15b22;
  margin-top: 16px;
  border-radius: 5px;
  border: none;
}
